{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            <h4>
                {{ user.username }}
            </h4>
        </div>
        <div>
            {{ user.date_joined }}
        </div>
        <div>
            <a href="{% url 'account:update' pk=user.pk %}">update</a>
        </div>
        <div>
            <a href="{% url 'account:delete' pk=user.pk %}">quit</a>
        </div>
    </div>
{% endblock %}